circle {
	stroke: #ffffff;
	fill  : #008cdd;
}

path.pathGraphic {
	opacity: 1; 
	fill-opacity: 1;
	stroke:#4cabe2;
	stroke-width:0;
	stroke-opacity:1;
	fill-opacity:1;
}

path.pathReferences {
	stroke-opacity: 0.10;
	fill: none;
	stroke: #4cabe2;
	stroke-width:2;
}
	
text.labelPoint{
	text-anchor: end; 
	font: 8px Arial;
	fill: #008cdd;
}