Hi [$NAME$],<br/><br/>
 
 We have received a transaction from the merchant [$MERCHANT$] but we could not process it because you have not yet configured security certificate to establish a secure connection in your transactions. Please refer to the address http://portal.billingbuddy.com/group/guest/administration to perform this operation.
 <br/>
Best Regards,<br/><br/>
BillingBuddy Team<br/>
