Hi [$NAME$],<br/><br/>
 
 We have received a transaction from the merchant [$MERCHANT$] but we could not process it because was impossible read the content. Commonly this is because you are not sending a signed message. Check your certificate  and check if you are using a certificate to sign your messages.
 <br/>
Best Regards,<br/><br/>
BillingBuddy Team<br/>
